
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutAluno.cshtml";
}
<div class="col-md-12">
    <br />
    <br />
    <div class="col-md-4">

    </div>
    <div class="form-horizontal">
        <div class="">
            <div class="">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <div class="jumbotron">
                            <h1>Bem-vindo, Aluno!</h1>
                            <p>...</p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                        </div>
                    </div>
                    <br />
                </form>

            </div>
        </div>

    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


