@{
    ViewData["Title"] = "Home";
}
<br />
<div class="row">
    <div class="form-group">
        <div class="jumbotron">
            <h1>Bem-vindo ao sistema de atividades!</h1>
            <p> Sistema de provas com relatórios individuais e das turmas.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Sobre</a></p>
        </div>
    </div>
</div>
